* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  text-align: center;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 22px;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
}

/* RECHERCHE */

.main {
  text-align: center;
}

.main input {
  width: 500px;
  height: 29px;
  border-radius: 10px;
  color: #555;
  padding-left: 10px;
  font-size: 17px;
  font-family: sans-serif;
}

.main span {
  position: absolute;
  margin-top: 5px;
  margin-right: 200px;
}

/* CORPS*/

/*PRODUIT DIV*/

.produit {
  text-align: center;
  margin: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*PRODUITS*/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.card :hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  color: #555;
  font-size: 14px;
}

.prix {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #27ae60;
}

button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
